.footer {
    background-color: #1C1C1C;
    
    
    &__container {
        margin-left: 18%;
        padding: 2rem 1rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        
        @media (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        
        &.footer__navigation {
            margin-left: 1.25rem;
        }
    }

    &__logo {
        margin-bottom: 1rem;
        width: 150px; 
        height: auto;
    }

    &__company-name {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        color: white; 
    }

    &__description {
        margin-top: 1.25rem;
        color: white; 
    }

    &__title {
        margin-bottom: 1rem;
        color: white;
    }

    &__links {
        display: flex;
        flex-direction: column;
    }

    &__products {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    &__view-all {
        margin-top: 1rem;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: white; 

        span {
            font-weight: bold;
        }
    }

    &__contact-group {
        span {
            display: block;
        }
        
        p {
            margin: 0;
        }
    }
}

