.inform {
    background-image:
        url("/src/assets/images/first1.svg"),
        url("/src/assets/images/Vector3.svg"),
        url("/src/assets/images/second2.svg"),
        url("/src/assets/images/backcloud.svg"),
        linear-gradient(0deg, #76B72A, #76B72A),
        linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%),
        url("/src/assets/images/backgr.svg");
    background-repeat: no-repeat;
    background-position:
        calc(75% - 150px) bottom,
        right bottom,
        calc(75% + 80px) bottom,
        right bottom,
        center,
        center,
        center;
    height: 800px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 60px;
    position: relative;
    display: flex;
    align-items: center;
}

.content-wrapper {
    width: 100%;
    padding-left: 18%;
}

.text-content {
    max-width: 800px;
}

.title {
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.description {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.imags{
    width: 172px;
    height: 200px;
}
.imags1{
    width: 246px;
    height: 200px;
}