.section5{
    margin-top: 3%;
        margin-left: 18%;
        margin-right: 18%;
        height: 800px;
}

.form-box{
    width: 810px;
}
.form-box1{
    width: 389px;
}

.section6{
    height: 550px;
}
.footer{
    background-color: #1C1C1C;
    height: 616px;
}